<%= form_for(@report_table) do |f| %>
  <% if @report_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report_table.errors.count, "error") %> prohibited this report_table from being saved:</h2>

      <ul>
      <% @report_table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :query_name %><br />
    <%= f.text_area :query_name %>
  </div>
  <div class="field">
    <%= f.label :query_id %><br />
    <%= f.text_area :query_id %>
  </div>
  <div class="field">
    <%= f.label :vertical %><br />
    <%= f.text_field :vertical %>
  </div>
  <div class="field">
    <%= f.label :horizontal %><br />
    <%= f.text_field :horizontal %>
  </div>
  <div class="field">
    <%#= select_tag "report_table[query_id]", 
                     options_for_select([['NONE', 0], ['Lisbon', 1], ['Madrid', 2]], 0) %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= puts "JJV Joe is cool!" %>
    <%= select_tag "report_table[query_id]", 
                     options_for_select(get_bz_query_run_times(@report_table.query_name), 0) %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
    <%= puts "JJV Yes he is!" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
