<p id="notice"><%= notice %></p>

<p>
  <b>Report Name:</b>
  <%= @report_table.name %>
</p>

<p>
  <b>Description:</b>
  <%= @report_table.description %>
</p>

<p>
  <b>BzQuery Name:</b>
  <%= @report_table.query_name %>
</p>

<p>
  <b>BzQuery ID:</b>
  <%= @report_table.query_id %>
</p>

<p>
  <b>BzQuery Occurrence Time:</b>
  <%= get_query_time(@report_table.query_id) %>
</p>

<p>
  <b>Vertical:</b>
  <%= @report_table.vertical %>
</p>

<p>
  <b>Horizontal:</b>
  <%= @report_table.horizontal %>
</p>

<p>
  <b>Report Result:</b>
  <table border="1">
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <th><%= @report_table.vertical%>  &nbsp; &nbsp; &nbsp;</th>
      <th><%= @report_table.horizontal%></th>
      <th>Totals</th>
    </tr>

    <% @report_table_result.keys.each do |kv| %> <% @report_table_result[kv].keys.each do |kh| %>
    <tr>
      <td><%= kh %></td>
      <td><%= kv %></td>
      <td><%= @report_table_result[kv][kh] %></td>
    </tr>
    <% end %> <% end %>

    </tbody>
  </table>


</p>


<%= link_to 'Back', report_tables_path %>
