<p id="notice"><%= notice %></p>

<p>
  <b>Report Name:</b>
  <%= @report_table.name %>
</p>

<p>
  <b>Description:</b>
  <%= @report_table.description %>
</p>

<p>
  <b>BzQuery_Name:</b>
  <%= @report_table.query_name %>
</p>

<p>
  <b>Vertical:</b>
  <%= @report_table.vertical%>
</p>

<p>
  <b>Horizontal:</b>
  <%= @report_table.horizontal %>
</p>

<p>
  <table>
    <b>Report Result:</b>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

      <td class="list_description">
        <% @report_table_result.keys.each do |kh| %>
          <% @report_table_result[kh].keys.each do |kv| %>
            <td>
              <%= kh %>
              <%= kv %>
              <%= " : " %>
              <%= @report_table_result[kh][kv] %>
            </td>
          <% end %>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>


</p>


<%= link_to 'Back', report_tables_path %>
