<h1>Issue Actions</h1>

<%= form_tag(errata_reports_path, method: "get") do %>
  <%= submit_tag('Run The Errata Report') %>
  <%= label_tag(:q, "Select Version:") %>
  <%= select_tag(:version, options_for_select(available_versions)) %>
<% end %>

<br />
<%# To uncomment the below line change %# to %= %>
<%= form_tag(statistics_reports_path, method: "get") do %>
  <%= submit_tag('Run The Statistics Report') %>
<% end %>

<br />
<%= form_tag(update_all_issues_path, method: "get") do %>
  <%= submit_tag('Refresh Issues Database From Bugzilla') %>
<% end %>

<br />

<h1>Issue Table</h1>

<p>
  <b>Last Updated:</b>          
  <%= @issues_updated_at %>    
</p>

<table>
  <tr>
    <th align="left"><%= sortable "bz_id", "Bz Id" %></th>
    <th align="left"><%= sortable "version" %></th>
    <th align="left"><%= sortable "status" %></th>
    <th align="left"><%= sortable "assigned_to", "Assignee" %></th>
    <th align="left">Summary</th>
  </tr>


<% @issues.each do |issue| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= url_to_bugzilla(issue.bz_id) %></td>
    <td><%= issue.version %></td>
    <td><%= issue.status %></td>
    <td><%= issue.assigned_to %></td>
    <td><%= issue.summary %></td>
  </tr>
<% end %>
</table>

<br />

