<p id="notice"><%= notice %></p>

<p>
  <b>Run Name:</b>
  <%= @bz_query.name %>
</p>

<p>
  <b>Run Description:</b>
  <%= @bz_query.description %>
</p>

<p>
  <b>Run Product:</b>
  <%= @bz_query.product %>
</p>

<p>
  <b>Run Flag:</b>
  <%= @bz_query.flag %>
</p>

<p>
  <b>Run Bug status:</b>
  <%= @bz_query.bug_status %>
</p>

<p>
  <b>Run Output format:</b>
  <%= @bz_query.output_format %>
</p>

<p>
  <table>
    <b>Run BzQuery Result:</b>
    <% @bz_query_result.split(/\r?\n/).each do |bz_query_result_output| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

      <td class="list_description">
        <dl>
          <dt><%= simple_format(bz_query_result_output) %></dt>
        </dl>
      </td>
    </tr>
  <% end %>
  </table>


</p>


<%= link_to 'Back', bz_queries_path %>
