<%= form_for(@errata_report) do |f| %>
  <% if @errata_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errata_report.errors.count, "error") %> prohibited this errata_report from being saved:</h2>

      <ul>
      <% @errata_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label ":query_id (for debuggin)" %><br />
    <%= f.text_field :query_id %>
  </div>

  <div class="field">
    <%= f.label :query_name %><br />
    <% if @errata_report.query_name == 0 %>
      <%= default = "NONE" %>
    <% else %>
      <%= default = @errata_report.query_name %>
    <% end %>
    <%= select_tag "errata_report[query_name]", 
                     options_for_select(BzQuery.pluck(:name), default) %>
  </div>

  <div class="field">
    <%= f.label "#{@errata_report.query_name} occurrence time:" %><br />
    <% if @errata_report.query_name == nil %>
      <%= default = "LATEST" %>
      <%= @errata_report.query_name = BzQuery.pluck(:name).first %>
    <% elsif @errata_report.query_id == 0 %>
      <%= default = "LATEST" %>
    <% else %>
      <%= default = @errata_report.query_id %>
    <% end %>
    <%= select_tag "errata_report[query_id]", 
      options_for_select(get_bz_query_run_times(@errata_report.query_name), default) %>
  </div>

  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :email_addr_pm_ack %><br />
    <%= f.text_field :email_addr_pm_ack %>
  </div>
  <div class="field">
    <%= f.label :email_addr_devel_ack %><br />
    <%= f.text_field :email_addr_devel_ack %>
  </div>
  <div class="field">
    <%= f.label :email_addr_qa_ack %><br />
    <%= f.text_field :email_addr_qa_ack %>
  </div>
  <div class="field">
    <%= f.label :send_email_pm_ack %><br />
    <%= f.check_box :send_email_pm_ack %>
  </div>
  <div class="field">
    <%= f.label :send_email_devel_ack %><br />
    <%= f.check_box :send_email_devel_ack %>
  </div>
  <div class="field">
    <%= f.label :send_email_qa_ack %><br />
    <%= f.check_box :send_email_qa_ack %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
