<p id="notice"><%= notice %></p>

<h1> BZs in <b>POST</b> state that need ACK(s)</br> </h1>

<p>
  <table border="1">
    <tr>
      <th width="10" colspan="1" rowspan="2" scope="col">
        <%= sortable "bz_id", "Bz Id" %>
      </th>
      <th width="10" colspan="1" rowspan="2" scope="col">
        <%= sortable "dep_id", "Dep Id" %>
      </th>
      <th width="10" colspan="1" rowspan="2" scope="col">
        <%= sortable "version" %>
      </th>
      <th width="10" colspan="1" rowspan="2" scope="col">
        <%= sortable "commit" %>
      </th>
      <th class="list_line_even" width="100" colspan="4" scope="col">Has ACKs</th>
      <th width="600" colspan="1" rowspan="2" scope="col"> Summary</th>
    </tr>
    <tr>
      <th class="list_line_even" width="60"><%= sortable "pm_ack", "PM" %></th> 
      <th class="list_line_even" width="60"><%= sortable "devel_ack", "Devel" %></th> 
      <th class="list_line_even" width="60"><%= sortable "qa_ack", "QA" %></th> 
      <th class="list_line_even" width="60"><%= sortable "doc_ack", "Doc" %></th> 
    </tr>

    <% @need_acks.each do |bz| %>
      <tr class="<%= cycle('tag_line_odd', 'tag_line_even') %>">
        <td><%= url_to_bugzilla(bz.bz_id) %></td>
        <td><%= url_to_bugzillas(bz.dep_ids) %></td>
        <td align="center"> <span class="green_text"><%= bz.version %></span></td>
        <td><%= list_last_commit(bz) %></td>
        <td align="center"> <span class="green_text"><%= bz.pm_acks %></span></td>
        <td align="center"> <span class="green_text"><%= bz.devel_acks %></span></td>
        <td align="center"> <span class="green_text"><%= bz.qa_acks %></span></td>
        <td align="center"> <span class="green_text"><%= bz.doc_acks %></span></td>
        <td><%= bz.summary %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</p>

<p>
  <h1> BZs in <b>POST</b> state that have all the needed ACKs</br> </h1>

  <table border="1">
    <tr>
      <th><%= sortable "bz_id", "BZ ID" %></th>
      <th><%= sortable "dep_id", "DEP ID" %></th>
      <th><%= sortable "version" %></th>
      <th><%= sortable "commit" %></th>
      <th> Summary</th>
    </tr>
    <% @have_acks.each do |bz| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= url_to_bugzilla(bz.bz_id) %></td>
        <td><%= url_to_bugzillas(bz.dep_ids) %></td>
        <td><%= bz.version %></td>
        <td><%= list_last_commit(bz) %></td>
        <td><%= bz.summary %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</p>

<%= link_to 'Back', issues_path %>
