<p id="notice"><%= notice %></p>

<h1> BZs in <b>POST</b> state that need ACK(s)</br> </h1>

<p>
  <table width="600" border="1">
    <tr>
      <th width="10" colspan="1" rowspan="2" scope="col"> BZ ID</th>
      <th class="list_line_even" width="100" colspan="5" scope="col">Has ACKs</th>
      <th width="490" colspan="1" rowspan="2" scope="col"> Summary</th>
    </tr>
    <tr>
      <th class="list_line_even" width="60"> PM</th> 
      <th class="list_line_even" width="60"> Devel</th> 
      <th class="list_line_even" width="60"> QA</th> 
      <th class="list_line_even" width="60"> Doc</th> 
      <th class="list_line_even" width="60"> Version</th> 
    </tr>

    </tr>

    <% @need_acks.each do |bz| %>
      <tr class="<%= cycle('tag_line_odd', 'tag_line_even') %>">
        <td>
        <a href="<%=get_bugzilla_uri%><%= bz[:BZ_ID] %>"><%= bz[:BZ_ID] %></a>
        </td>
        <td align="center"> <span style="color: green"><%= bz[:PM_ACKS] %></span></td>
        <td align="center"> <span style="color: green"><%= bz[:DEVEL_ACKS] %></span></td>
        <td align="center"> <span style="color: green"><%= bz[:QA_ACKS] %></span></td>
        <td align="center"> <span style="color: green"><%= bz[:DOC_ACKS] %></span></td>
        <td align="center"> <span style="color: green"><%= bz[:VER_ACKS] %></span></td>
        <td><%= bz[:SUMMARY] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</p>

<p>
  <h1> BZs in <b>POST</b> state that have all the needed ACKs</br> </h1>

  <table border="1">
    <% @have_acks.each do |bz| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
        <a href="<%=get_bugzilla_uri%><%= bz[:BZ_ID] %>"><%= bz[:BZ_ID] %></a>
        </td>
        <td><%= bz[:SUMMARY] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</p>

<%= link_to 'Back', issues_path %>
