<h1>Listing Errata Reports</h1>

<table>

<% @errata_reports.each do |errata_report| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td class="list_description">   
      <dl>
        <dt>Name:                 <%= errata_report.name %></dt>
        <dt>Description:          <%= errata_report.description %></dt>
        <dt>Query:                <%= errata_report.query_id %></dt>
        <dt>Query name:           <%= errata_report.query_name %></dt>
        <dt>Query occurrence:     <%= errata_report.query_occurrence %></dt>
        <dt>Version:              <%= errata_report.version %></dt>
        <dt>Email addr pm ack:    <%= errata_report.email_addr_pm_ack %></dt>
        <dt>Email addr devel ack: <%= errata_report.email_addr_devel_ack %></dt>
        <dt>Email addr qa ack:    <%= errata_report.email_addr_qa_ack %></dt>
        <dt>Send email pm ack:    <%= errata_report.send_email_pm_ack %></dt>
        <dt>Send email devel ack: <%= errata_report.send_email_devel_ack %></dt>
        <dt>Send email qa ack:    <%= errata_report.send_email_qa_ack %></dt>
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to 'Show', errata_report %><br/>
      <%= link_to 'Edit', edit_errata_report_path(errata_report) %><br/>
      <%= link_to 'Run', run_errata_report_path(errata_report) %><br/>
      <%= link_to 'Destroy', errata_report, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Errata report', new_errata_report_path %>
