<p id="notice"><%= notice %></p>

<p>
  <b>Report Name:</b>
  <%= @errata_report.name %>
</p>

<p>
  <b>Description:</b>
  <%= @errata_report.description %>
</p>

<p>
  <b>BzQuery Name:</b>
  <%= @errata_report.version %>
</p>

<p>
  <b>BzQuery ID:</b>
  <%= @errata_report.query_id %>
</p>

<p>
  <b>BzQuery Name:</b>
  <%= @errata_report.query_name %>
</p>

<p>
  <b>BzQuery Occurrence Time:</b>
  <%= BzQueryOutput.find_by_id(@errata_report.query_id).updated_at %>
</p>

<p>
  <b>Email Address Devel:</b>
  <%= @errata_report.email_addr_devel_ack %>
</p>

<p>
  <b>Email Address PM:</b>
  <%= @errata_report.email_addr_pm_ack %>
</p>

<p>
  <b>Email Address QA:</b>
  <%= @errata_report.email_addr_qa_ack %>
</p>

<p>
  <b>Send Email To Devel:</b>
  <%= @errata_report.send_email_devel_ack %>
</p>

<p>
  <b>Send Email To PM:</b>
  <%= @errata_report.send_email_pm_ack %>
</p>

<p>
  <b>Send Email To QA:</b>
  <%= @errata_report.send_email_qa_ack %>
</p>

<p>
  <b>BZs That Need ACK(s):</b></br>
  <u><i>Legend:</i></u></br>
  <b>-</b> : Have ACK For This Column</br>
  <b>P</b> : Needs ACK from <b><i>P</i></b>roduct Management</br>
  <b>D</b> : Needs ACK from <b><i>D</i></b>evelopment</br>
  <b>Q</b> : Needs ACK from <b><i>Q</i></b>uality Assurance</br>
  <b>O</b> : Needs ACK from D<b><i>o</i></b>cumentation</br>
  <b>B</b> : Needs ACK from Bugzilla <b><i>B</i></b>ot</br>
  
  <table>
    <% @errata_report_need_acks.each do |bz| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
        <a href="<%=get_bugzilla_uri%><%= bz[:BZ_ID] %>"><%= bz[:BZ_ID] %></a>
        </td>
        <td><%= bz[:ACKS] %></td>
        <td><%= bz[:SUMMARY] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</p>

<p>
  <b>BZs That Have All ACKs:</b>
  <table>
    <% @errata_report_have_acks.each do |bz| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
        <a href="<%=get_bugzilla_uri%><%= bz[:BZ_ID] %>"><%= bz[:BZ_ID] %></a>
        </td>
        <td><%= bz[:SUMMARY] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</p>


<%= link_to 'Back', errata_reports_path %>
